body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
h1 {
  text-align: center;
  color: #4a4a4a;
}
.section {
  margin: 10px 0;
}
.heading {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}
.heading1 {
  color: #999;
  font-weight: 50;
  display: inline-block;
}

.heading3 {
  letter-spacing: 2px;
  color: #54afe4;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.name {
  font-weight: 300;
}
.section2 {
  display: inline;
}
